/* Set the background image for the entire page */
body {
    background-image: url(imegs/Home\ page\ background.jpg);
    background-size: 2150px 1050px;
}

/* Style for heading 1 (h1) elements */
h1 {
    text-align: center;
    font-size: 500%;
    color: rgb(8, 192, 76);
    border: 10px solid rgb(8, 192, 76);
    background-color: rgba(233, 193, 14, 0.525);
}

/* Container styling */
#id_couteiner {
    text-align: center;
    width: 90%;
    height: 700px;
    margin-left: 100px;
    border: 10px solid rgb(8, 192, 76);
}

/* Styling for game containers */
.games {
    margin-top: 5%;
    height: 60%;
    width: 24%;
    background-color: rgba(127, 255, 212, 0.797);
    display: inline-block;
    justify-content: center;
    justify-items: center;
}

/* Styling for the Monkey Game container */
#id_monkey_game {
    background-image: url(imegs/monkey\ background.jpg);
    background-size: 450px 420px;
    border: 6px solid rgb(83, 137, 146);
}

/* Styling for the Checkers Game container */
#id_checkers_game {
    background-image: url(imegs/Checkers\ game.jpg);
    background-size: 450px 420px;
    border: 6px solid rgb(83, 137, 146);
}

/* Styling for the X and Circle Game container */
#id_X_and_circle_game {
    background-image: url(imegs/X\ and\ circle\ game.jpg);
    background-size: 450px 420px;
    border: 6px solid rgb(83, 137, 146);
}

/* Styling for the Chess Game container */
#id_chess_game {
    background-image: url(imegs/chess\ game.jpg);
    background-size: 450px 420px;
    border: 6px solid rgb(83, 137, 146);
}

/* Styling for the game titles */
.id_h2 {
    margin-top: 100%;
    font-size: 200%;
    color: rgb(23, 189, 42);

}

/* Hover effect for the Monkey Game container */
#id_monkey_game:hover {
    height: 62%;
    width: 25%;
    background-size: 470px 440px;
}
